.form {
    width: 100%;
}
.form__input-container {
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.form fieldset {
    padding: clamp(1em, 3vw, 40px);
    border: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5vw;
    max-width: min(60vw, 800px);
}
.form__input-box {
    /* flex: 1 0 40%; */
    margin-bottom: clamp(20px, 1.5vw, 32px);
}
