@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
:root {
    color: #454e45;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
    background-color: #f5f8f6;
}
